{{#httpMethods}}
import com.linecorp.armeria.server.annotation.{{httpMethod}};
{{/httpMethods}}

import com.linecorp.armeria.common.HttpRequest;
import com.linecorp.armeria.common.HttpResponse;
import com.linecorp.armeria.server.ServiceRequestContext;

